<!-- app/views/groups/joined_groups.html.erb -->

<h1>Your Joined Groups</h1>

<% if current_user.joined_groups.present? %>
  <div class="group-cards-container">
    <% current_user.joined_groups.each do |joined_group| %>
      <% if joined_group.group.present? %>
      <div class="group-card">
        <h2>Name: <%= joined_group.group.group_name %></h2>
        <%= link_to 'View', group_path(joined_group.group), class: 'button-style' %>
        <%= link_to 'Chat', group_messages_path(joined_group.group),  class: 'button-style'  %>
      </div>
    <% end %>
    <% end %>
  </div>
<% else %>
  <p>You haven't joined any groups yet.</p>
<% end %>
