<!-- app/views/groups/view_group.html.erb -->
<h1>Group Details</h1>

<div>
  <h2><%= @group.group_name %></h2>
  <p>Size: <%= @group.group_size %></p>
  <p>Location: <%= @group.adventure_location %></p>
  <p>Other Information: <%= @group.other_information %></p>
</div>
