<!DOCTYPE html>
<html>
<head>
    <title>Settings</title>
</head>
<body>
    <ul>
    <li><%= link_to 'Profile Details', new_profile_path %></li>
    <li><a href="/settings/payments">Payment Details</a></li>
    </ul>


</body>
</html>
