<!DOCTYPE html>
<html>
<head>
    <title>Settings</title>
    <style>
        <body>
         {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        li a {
            text-decoration: none;
            color: #333;
            padding: 5px 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            display: inline-block;
            transition: background-color 0.3s;
        }
        li a:hover {
            background-color: #f0f0f0;
        }
        .profile-link {
            background-color: #28a745;
            color: #fff;
            border-color: #28a745;
        }
        .payment-link {
            background-color: #28a745;
            color: #fff;
            border-color: #28a745;
        }
    </style>
</head>
<body>
    <ul>
    <!-- Add a link to edit profile details -->
    <li><%= link_to 'Edit Profile Details', edit_profile_path(current_user.profile), class: "button" %></li>
    <li><%= link_to 'Edit Payment Details', edit_payment_path(current_user.payment), class: "button" %></li>
    </ul>
</body>
</html>
