<h1> Caravan Details </h1>

<p>
 Name: <% @caravan.name %>
 </p>
 <p>
 Size : <% @caravan.size %>
 </p>
 <p>
 Adventure : <% @caravan.adventure %>
 </p>

 <p>
 Exterior Color : <% @caravan.exterior_color %>
 </p>

 <p>
 Interior Theme : <% @caravan.interior_theme %>
 </p>

 <p>
 Price : <% @caravan.price %>
 </p>
