/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "darkly/variables";
@import "bootstrap";
@import "darkly/bootswatch";

@import "rails_bootstrap_forms";

label.required:after {
  content:" *";
}

main {
  margin-top: 20px;
}

.alert-dismissible {
  padding-left: $alert-dismissible-padding-r;
}
/* Add this CSS to your stylesheet */
/* Add this CSS to your stylesheet */
footer {
  background-color: #333; /* Change the background color to a dark color, like black */
  color: #fff; /* Change the text color to white for better visibility */
  padding: 20px 0; /* Add padding to create separation */
  margin-top: 20px; /* Add margin to push the footer away from the main content */
}

main {
  margin-bottom: 20px; /* Add margin to create separation between main content and footer */
}


@import 'groups';