<h1>Welcome to Admin Dashboard</h1>

<div>
  <%= link_to 'Manage Listings', admin_manage_listings_path, class: 'btn btn-primary' %>
  <%= link_to 'View Orders', admin_view_orders_path, class: 'btn btn-primary' %>
</div>
