<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <style>
    .social-icons a {
      font-size: 32px; /* Increased icon size */
      margin-right: 20px; /* Added spacing between icons */
    }
  </style>
</head>
<body>
  <footer style="background-color: #f2f2f2; color: #333; padding: 30px 0;">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 style="color: #333;">About Us</h3>
          <p>
            Nomad Connect is your gateway to exciting adventures and unforgettable experiences. Our platform brings together adventurers, explorers, and travel enthusiasts from around the world to embark on thrilling journeys together.
          </p>

          <p>
            <strong>Key Features:</strong>
            <ol>
              <li>Group Management: Create or join groups tailored to your interests and preferred destinations.</li>
              <li>Shared Experiences: Discover and share memorable moments with fellow adventurers.</li>
              <li>Cart Functionality: Seamlessly organize your travel plans with our intuitive shopping cart feature.</li>
            </ol>
          </p>
        </div>
        <div class="col-md-6">
          <h3 style="color: #333;">Contact Information</h3>
          <p>
            3570 Mynders Ave Memphis Tennesse 501510.
            <br>
            Connect with us on social media:
          </p>
          <p class="social-icons">
            <a href="https://twitter.com/nomadshaven" class="bi bi-twitter"></a>
            <a href="https://www.instagram.com/nomadshaven" class="bi bi-instagram"></a>
            <a href="https://www.facebook.com/nomadshaven
            " class="bi bi-facebook"></a>
          </p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
