<footer style="background-color: #f2f2f2; color: #333; padding: 30px 0;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 style="color: #333;">About Us</h3>
        <p>
          Nomad Connect is your gateway to exciting adventures and unforgettable experiences. Our platform brings together adventurers, explorers, and travel enthusiasts from around the world to embark on thrilling journeys together.
        </p>

        <p>
          <strong>Key Features:</strong>
          <ol>
            <li>Group Management: Create or join groups tailored to your interests and preferred destinations.</li>
            <li>Shared Experiences: Discover and share memorable moments with fellow adventurers.</li>
            <li>Cart Functionality: Seamlessly organize your travel plans with our intuitive shopping cart feature.</li>
          </ol>
        </p>
      </div>
      <div class="col-md-6">
        <h3 style="color: #333;">Contact Information</h3>
        <p>
          3570 Mynders Ave Memphis Tennesse 501510.
          <br>
          Connect with us on social media:
        </p>
        <p>
          <a href="https://twitter.com/nomadconnect">
            <img src="twitter-logo.png" alt="Twitter Logo" width="32" height="32">
          </a>
          <a href="https://www.instagram.com/nomadconnect">
            <img src="instagram.png" alt="Instagram Logo" width="32" height="32">
          </a>
          <a href="https://www.facebook.com/nomadconnect">
            <img src="facebook-logo.png" alt="Facebook Logo" width="32" height="32">
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
